<%- model_class = HospitalPerforma -%>
<div class="page-header">
	 <h1>Hospital Performance</h1>
	 <h3>Hospital : <%= @hospital_performa.try(:hospital).try(:hospital_name) || "Not Entered" %></h3>
</div>
<%= render :partial => 'form' %>
