<h1>Listing vw_sanctioned_working_by_hospitals</h1>

<table>
  <tr>
	<th>Class 1  Sanc</th>
  </tr>

<% @vw_sanctioned_working_by_hospitals.each do |vw_sanctioned_working_by_hospital| %>
  <tr>
	 <td><%= vw_sanctioned_working_by_hospital.class_1_sanctioned %></td>
  </tr>
<% end %>
</table>

<br />

