<%- model_class = BloodGroup -%>
<div class="page-header">
  <h1>Blood Groups</h1>
</div>
<table class="table table-bordered" id="blood_groups">
  <thead>
    <tr>
      <th>Blood Group Type</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @blood_groups.each do |blood_group| %>
      <tr>
        <td><%= blood_group.blood_group_type %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_blood_group_path(blood_group), :class => 'btn btn-mini' %>
	</td>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_blood_group_path,
            :class => 'btn' %>
<script>
    $(document).ready(function() {
      $('#blood_groups').dataTable( {
        "sPaginationType": "bootstrap"
      } );
    }
  );
</script>
