// Place all the styles related to the employee_sanction_workings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.btn:visited { color: #333; }

a.btn-danger:visited { color: #fff; }

a.btn-primary:visited { color: #fff; }

a.btn-mini:visited { color: #fff; }

a.btn-success:visited { color: #fff; }

a.btn.small:visited { color: #fff; }