<%= simple_form_for @employee_cadre, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :employee_cadre_type %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                employee_cadres_path, :class => 'btn' %>
  </div>
<% end %>
